@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text);
  --color-body: #ffddee;
  background-color: var(--color-body);
}
